USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 22/03/2026 10:28:19 SA ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhDiemTongKet]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhDiemTongKet]
(
    @DiemQT FLOAT,
    @DiemThi FLOAT
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @DiemTongKet FLOAT;

    SET @DiemTongKet = (@DiemQT * 0.4) + (@DiemThi * 0.6);

    RETURN @DiemTongKet;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XepLoaiKetQua]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--function ktra dau/rot
CREATE FUNCTION [dbo].[fn_XepLoaiKetQua]
(
    @DiemTongKet FLOAT
)
RETURNS NVARCHAR(20)
AS
BEGIN
    DECLARE @KetQua NVARCHAR(20);

    IF @DiemTongKet >= 5
        SET @KetQua = N'Đạt';
    ELSE
        SET @KetQua = N'Không đạt';

    RETURN @KetQua;
END;
GO
/****** Object:  Table [dbo].[PhanCongGiangDay]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongGiangDay](
	[MaGV] [varchar](10) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaLop] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[KhoaHoc] [nvarchar](20) NULL,
	[MaKhoa] [varchar](10) NULL,
	[CoVanHocTap] [nvarchar](100) NULL,
	[MaGV] [varchar](20) NULL,
	[MaMon] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[SoTinChi] [int] NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GiangVien_Lop_Mon]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GiangVien_Lop_Mon]
AS
SELECT DISTINCT
    l.TenLop,
    mh.MaMon,
    mh.TenMon
FROM PhanCongGiangDay pc
JOIN Lop l ON pc.MaLop = l.MaLop
JOIN MonHoc mh ON pc.MaMon = mh.MaMon;
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [nvarchar](10) NULL,
	[MaLop] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[MaSV] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[HocKy] [int] NOT NULL,
	[NamHoc] [nvarchar](20) NOT NULL,
	[DiemQT] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemTongKet] [float] NULL,
	[MaLop] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC,
	[HocKy] ASC,
	[NamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SinhVien_MonHoc]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SinhVien_MonHoc]
AS
SELECT
    sv.MaSV,
    sv.HoTen,
    mh.MaMon,
    mh.TenMon,
    dk.MaLop,
    l.TenLop,
    dk.HocKy,
    dk.NamHoc
FROM DangKyHoc dk
JOIN SinhVien sv ON dk.MaSV = sv.MaSV
JOIN MonHoc mh ON dk.MaMon = mh.MaMon
LEFT JOIN Lop l ON dk.MaLop = l.MaLop; 
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaSV] [varchar](10) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[DiemQT] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemTongKet]  AS ([DiemQT]*(0.4)+[DiemThi]*(0.6)),
	[MaMon] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SinhVien_Diem]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SinhVien_Diem]
AS
SELECT 
    sv.MaSV, 
    sv.HoTen, 
    l.TenLop, 
    mh.TenMon, 
    d.DiemQT, 
    d.DiemThi, 
    d.DiemTongKet,
    pc.MaGV,
    mh.MaMon -- Thêm cột này để code Python dễ xử lý
FROM dbo.SinhVien sv
JOIN dbo.Lop l ON sv.MaLop = l.MaLop
JOIN dbo.PhanCongGiangDay pc ON l.MaLop = pc.MaLop
JOIN dbo.MonHoc mh ON pc.MaMon = mh.MaMon
LEFT JOIN dbo.Diem d ON (d.MaSV = sv.MaSV AND d.MaMon = mh.MaMon);
GO
/****** Object:  View [dbo].[vw_GiangVien_SinhVien]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GiangVien_SinhVien]
AS
SELECT DISTINCT -- Dùng DISTINCT để tránh lặp sinh viên nếu có nhiều GV dạy
    l.MaLop,
    l.TenLop,
    sv.MaSV,
    sv.HoTen,
    sv.NgaySinh,
    sv.GioiTinh,
    mh.TenMon
FROM PhanCongGiangDay pc
-- Đã bỏ JOIN GiangVien gv vì không cần thiết nữa
JOIN Lop l ON pc.MaLop = l.MaLop
JOIN MonHoc mh ON pc.MaMon = mh.MaMon
JOIN SinhVien sv ON sv.MaLop = l.MaLop
JOIN DangKyHoc dk ON (dk.MaSV = sv.MaSV AND dk.MaMon = mh.MaMon);
GO
/****** Object:  View [dbo].[vw_SinhVien_ThongTin]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--VIEW CHO SINH VIEN
--view 1: Thong tin ca nhan cua sinh vien
CREATE VIEW [dbo].[vw_SinhVien_ThongTin]
AS
SELECT 
    MaSV,
    HoTen,
    NgaySinh,
    GioiTinh,
    Email,
    SoDienThoai
FROM SinhVien;
GO
/****** Object:  View [dbo].[vw_PDT_SinhVien]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PDT_SinhVien]
AS
SELECT
    MaSV,
    HoTen,
    NgaySinh,
    GioiTinh,
    Email
FROM SinhVien;
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[TenGV] [nvarchar](100) NULL,
	[HocVi] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PDT_LopHoc]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--view 8: Danh sach lop hoc
CREATE   VIEW [dbo].[vw_PDT_LopHoc]
AS
SELECT DISTINCT
    l.MaLop,
    l.TenLop,
    mh.TenMon,
    gv.TenGV AS TenGiangVien
FROM Lop l
JOIN PhanCongGiangDay pc ON l.MaLop = pc.MaLop
JOIN MonHoc mh ON pc.MaMon = mh.MaMon
JOIN GiangVien gv ON pc.MaGV = gv.MaGV;
GO
/****** Object:  View [dbo].[vw_PDT_ThongKeDiem]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PDT_ThongKeDiem]
AS
SELECT 
    mh.MaMon,
    mh.TenMon,
    AVG(d.DiemTongKet) AS DiemTrungBinh
FROM dbo.MonHoc mh
JOIN dbo.Diem d ON mh.MaMon = d.MaMon -- JOIN trực tiếp qua MaMon
GROUP BY mh.MaMon, mh.TenMon;
GO
/****** Object:  View [dbo].[vw_DanhSach_Lop_PhuTrach]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Đổi thành JOIN*/
CREATE VIEW [dbo].[vw_DanhSach_Lop_PhuTrach]
AS
SELECT DISTINCT dk.HocKy, l.MaLop, l.TenLop, mh.MaMon, mh.TenMon
FROM     dbo.PhanCongGiangDay AS pc INNER JOIN
                  dbo.Lop AS l ON pc.MaLop = l.MaLop INNER JOIN
                  dbo.MonHoc AS mh ON pc.MaMon = mh.MaMon INNER JOIN
                  dbo.SinhVien AS sv ON sv.MaLop = l.MaLop INNER JOIN
                  dbo.DangKyHoc AS dk ON dk.MaSV = sv.MaSV AND dk.MaMon = mh.MaMon
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro_Quyen]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro_Quyen](
	[MaVaiTro] [int] NOT NULL,
	[MaQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NULL,
	[MaVaiTro] [int] NULL,
	[MaSV] [varchar](10) NULL,
	[MaGV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KiemTraQuyenTaiKhoan]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_KiemTraQuyenTaiKhoan] AS
SELECT 
    tk.TenDangNhap,           -- Tên tài khoản đăng nhập
    vt.TenVaiTro,       -- Tên vai trò (Admin, GiangVien, SinhVien...)
    q.MaQuyen,          -- Mã quyền (View, Edit, Delete...)
    q.TenQuyen          -- Mô tả quyền
FROM TaiKhoan tk
JOIN VaiTro vt ON tk.MaVaiTro = vt.MaVaiTro        -- Nối tài khoản với vai trò
JOIN VaiTro_Quyen vq ON vt.MaVaiTro = vq.MaVaiTro  -- Nối vai trò với bảng trung gian quyền
JOIN Quyen q ON vq.MaQuyen = q.MaQuyen;            -- Nối để lấy tên quyền chi tiết
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DangKyHoc] ([MaSV], [MaMon], [HocKy], [NamHoc], [DiemQT], [DiemThi], [DiemTongKet], [MaLop]) VALUES (N'BIT20123', N'C#', 1, N'2023-2024', NULL, NULL, NULL, N'CNTT02')
INSERT [dbo].[DangKyHoc] ([MaSV], [MaMon], [HocKy], [NamHoc], [DiemQT], [DiemThi], [DiemTongKet], [MaLop]) VALUES (N'BIT20123', N'CSDL', 1, N'2023-2024', NULL, NULL, NULL, N'CNTT02')
INSERT [dbo].[DangKyHoc] ([MaSV], [MaMon], [HocKy], [NamHoc], [DiemQT], [DiemThi], [DiemTongKet], [MaLop]) VALUES (N'BIT20123', N'DSA11', 1, N'2023-2024', NULL, NULL, NULL, N'CNTT02')
GO
INSERT [dbo].[Diem] ([MaSV], [MaLop], [DiemQT], [DiemThi], [MaMon]) VALUES (N'BIT20123', N'CNTT02', 0, 0, N'C#')
INSERT [dbo].[Diem] ([MaSV], [MaLop], [DiemQT], [DiemThi], [MaMon]) VALUES (N'BIT20123', N'CNTT02', 0, 0, N'Python')
INSERT [dbo].[Diem] ([MaSV], [MaLop], [DiemQT], [DiemThi], [MaMon]) VALUES (N'BIT240058', N'CNTT01', 8.2, 9.5, N'CSDL')
GO
INSERT [dbo].[GiangVien] ([MaGV], [TenGV], [HocVi], [Email], [MaKhoa]) VALUES (N'CMC123', N'Nguyễn Đức Giang', N'Thạc sĩ', N'giang@gmail.com', N'CNTT')
INSERT [dbo].[GiangVien] ([MaGV], [TenGV], [HocVi], [Email], [MaKhoa]) VALUES (N'CMC267', N'Ngô Thành', N'Thạc sĩ', N'thanh@@gmail.com', N'CNTT')
INSERT [dbo].[GiangVien] ([MaGV], [TenGV], [HocVi], [Email], [MaKhoa]) VALUES (N'CMC332', N'Pham Duc', N'Thạc sĩ', N'pd@gmail.com', N'CNTT')
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [DienThoai], [Email]) VALUES (N'CNTT', N'Công nghệ thông tin', NULL, NULL)
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [DienThoai], [Email]) VALUES (N'QTKD', N'Quản trị kinh doanh', NULL, NULL)
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [KhoaHoc], [MaKhoa], [CoVanHocTap], [MaGV], [MaMon]) VALUES (N'CNTT01', N'24IT4', N'2024-2027', N'CNTT', N'Nguyễn Đức Giang', N'CMC123', N'CSDL')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [KhoaHoc], [MaKhoa], [CoVanHocTap], [MaGV], [MaMon]) VALUES (N'CNTT02', N'24IT5', N'2024-2028', N'CNTT', N'Nguyễn Phong', NULL, N'OOP')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [KhoaHoc], [MaKhoa], [CoVanHocTap], [MaGV], [MaMon]) VALUES (N'CNTT03', N'24IT6', N'2024-2028', N'CNTT', N'Pham Duc', NULL, N'CSDL')
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi], [MaKhoa]) VALUES (N'C#', N'Lập trình C#', 3, N'CNTT')
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi], [MaKhoa]) VALUES (N'C++', N'Lập trình C++', 3, N'CNTT')
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi], [MaKhoa]) VALUES (N'CSDL', N'Cơ Sở Dữ Liệu', 3, N'CNTT')
GO
INSERT [dbo].[PhanCongGiangDay] ([MaGV], [MaLop], [MaMon]) VALUES (N'CMC123', N'CNTT01', N'CSDL')
INSERT [dbo].[PhanCongGiangDay] ([MaGV], [MaLop], [MaMon]) VALUES (N'CMC123', N'CNTT02', N'C#')
INSERT [dbo].[PhanCongGiangDay] ([MaGV], [MaLop], [MaMon]) VALUES (N'CMC267', N'CNTT02', N'Python')
GO
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'Giảng Viên')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (3, N'Phòng đào tạo')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Sinh Viên')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [MaLop]) VALUES (N'BIT20123', N'Nguyễn Văn A', CAST(N'2004-05-13' AS Date), N'Nam', N'Hà Nội', N'0123456789', N'sv@cmc.edu.vn', N'Đang học', N'CNTT03')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [MaLop]) VALUES (N'BIT220099', N'Phan Mai Châu', CAST(N'2003-09-27' AS Date), N'Nam', N'Hà Nội', N'0123456789', N'BIT220099@student.edu.vn', N'Đang học', N'CNTT04')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [MaLop]) VALUES (N'BIT240058', N'Từ Xuân Đạt', CAST(N'2006-03-13' AS Date), N'Nam', N'Hà Nội', N'0123456789', N'sv@cmc.edu.vn', N'Đang học', N'CNTT02')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaVaiTro], [MaSV], [MaGV]) VALUES (N'BIT20123', N'1234', 1, N'BIT20123', NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaVaiTro], [MaSV], [MaGV]) VALUES (N'BIT220099', N'1234', 1, N'BIT220099', NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaVaiTro], [MaSV], [MaGV]) VALUES (N'BIT240058', N'1234', 1, N'BIT240058', NULL)
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (2, N'Giảng Viên')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (3, N'Phòng đào tạo')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (4, N'Quản trị hệ thống')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
INSERT [dbo].[VaiTro_Quyen] ([MaVaiTro], [MaQuyen]) VALUES (1, 1)
INSERT [dbo].[VaiTro_Quyen] ([MaVaiTro], [MaQuyen]) VALUES (2, 2)
INSERT [dbo].[VaiTro_Quyen] ([MaVaiTro], [MaQuyen]) VALUES (3, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Quyen__5637EE795DC0AD67]    Script Date: 22/03/2026 10:28:19 SA ******/
ALTER TABLE [dbo].[Quyen] ADD UNIQUE NONCLUSTERED 
(
	[TenQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SinhVien_MaLop]    Script Date: 22/03/2026 10:28:19 SA ******/
CREATE NONCLUSTERED INDEX [idx_SinhVien_MaLop] ON [dbo].[SinhVien]
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VaiTro__1DA55814FEDC595F]    Script Date: 22/03/2026 10:28:19 SA ******/
ALTER TABLE [dbo].[VaiTro] ADD UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_VaiTroQuyen_MaVaiTro]    Script Date: 22/03/2026 10:28:19 SA ******/
CREATE NONCLUSTERED INDEX [idx_VaiTroQuyen_MaVaiTro] ON [dbo].[VaiTro_Quyen]
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHoc_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyHoc] CHECK CONSTRAINT [FK_DangKyHoc_SV]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_Lop]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SV]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhanCongGiangDay]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[PhanCongGiangDay]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[PhanCongGiangDay]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_SV]
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK__Diem__DiemQT__19DFD96B] CHECK  (([DiemQT]>=(0) AND [DiemQT]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK__Diem__DiemQT__19DFD96B]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK__Diem__DiemThi__1AD3FDA4] CHECK  (([DiemThi]>=(0) AND [DiemThi]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK__Diem__DiemThi__1AD3FDA4]
GO
/****** Object:  StoredProcedure [dbo].[sp_Diem_Delete]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Diem_Delete]
    @MaSV varchar(10),
    @MaMon varchar(10)
AS
BEGIN
    DELETE FROM Diem
    WHERE MaSV = @MaSV
      AND MaMon = @MaMon;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Diem_Insert]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Diem_Insert]
    @MaSV varchar(10),
    @MaLop varchar(10),
    @MaMon varchar(10),
    @DiemQT float = NULL,
    @DiemThi float = NULL
AS
BEGIN
    -- Kiểm tra nếu đã có điểm môn này cho SV này rồi thì không chèn nữa (hoặc báo lỗi)
    IF NOT EXISTS (SELECT 1 FROM Diem WHERE MaSV = @MaSV AND MaMon = @MaMon)
    BEGIN
        INSERT INTO Diem (MaSV, MaLop, MaMon, DiemQT, DiemThi)
        VALUES (@MaSV, @MaLop, @MaMon, @DiemQT, @DiemThi);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Diem_Update]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Diem_Update]
    @MaSV varchar(10),
    @MaMon varchar(10),
    @DiemQT float,
    @DiemThi float,
    @MaGV varchar(10)
AS
BEGIN
    -- 1. Kiểm tra quyền giảng viên
    IF EXISTS (SELECT 1 FROM PhanCongGiangDay 
               WHERE LTRIM(RTRIM(MaGV)) = LTRIM(RTRIM(@MaGV)) 
               AND LTRIM(RTRIM(MaMon)) = LTRIM(RTRIM(@MaMon)))
    BEGIN
        -- 2. Kiểm tra xem đã có dòng điểm chưa
        IF EXISTS (SELECT 1 FROM Diem WHERE MaSV = @MaSV AND MaMon = @MaMon)
        BEGIN
            -- Đã có dòng điểm -> Thực hiện CẬP NHẬT
            UPDATE Diem 
            SET DiemQT = @DiemQT, DiemThi = @DiemThi
            WHERE MaSV = @MaSV AND MaMon = @MaMon;
        END
        ELSE
        BEGIN
            -- Chưa có dòng điểm -> Thực hiện THÊM MỚI
            -- Lấy MaLop từ bảng SinhVien để điền vào cho đúng
            DECLARE @MaLop varchar(10);
            SELECT @MaLop = MaLop FROM SinhVien WHERE MaSV = @MaSV;

            INSERT INTO Diem (MaSV, MaLop, MaMon, DiemQT, DiemThi)
            VALUES (@MaSV, @MaLop, @MaMon, @DiemQT, @DiemThi);
        END
        PRINT N'Thành công';
    END
    ELSE
    BEGIN
        RAISERROR (N'Lỗi bảo mật: Giảng viên không dạy môn này!', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiangVien_XemDiemLop]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GiangVien_XemDiemLop]
    @TenLop nvarchar(50),
    @MaGV varchar(10)
AS
BEGIN
    SELECT 
        MaSV, 
        HoTen, 
        TenLop, 
        TenMon, 
        DiemQT, 
        DiemThi, 
        DiemTongKet
    FROM vw_SinhVien_Diem
    WHERE TenLop = @TenLop AND MaGV = @MaGV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiangVien_XemLopDay]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_GiangVien_XemLopDay]
    @MaGV VARCHAR(10)
AS
BEGIN
    -- Kiểm tra giảng viên có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM GiangVien WHERE MaGV = @MaGV)
    BEGIN
        PRINT N'Giảng viên không tồn tại';
        RETURN;
    END

    SELECT 
        gv.MaGV,
        gv.TenGV,
        l.MaLop,
        l.TenLop,
        m.MaMon,
        m.TenMon
    FROM PhanCongGiangDay pc
    JOIN GiangVien gv ON pc.MaGV = gv.MaGV
    JOIN Lop l ON pc.MaLop = l.MaLop
    JOIN MonHoc m ON pc.MaMon = m.MaMon
    WHERE gv.MaGV = @MaGV;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraQuyen]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraQuyen]
    @TenDangNhap varchar(50)
AS
BEGIN
    SELECT q.TenQuyen
    FROM TaiKhoan tk
    JOIN VaiTro_Quyen vq ON tk.MaVaiTro = vq.MaVaiTro
    JOIN Quyen q ON vq.MaQuyen = q.MaQuyen
    WHERE tk.TenDangNhap = @TenDangNhap;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Lop_Delete]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Lop_Delete]
	@MaLop varchar(10)
As
Begin
	Delete from Lop where MaLop=@MaLop;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_Lop_Insert]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Lop_Insert]
	@MaLop varchar(10),
	@TenLop nvarchar(50),
	@KhoaHoc nvarchar(20),
	@MaKhoa varchar(10),
	@CoVanHocTap nvarchar(100),
	@MaGV varchar(20)
As
Begin
	Insert Into Lop(MaLop, TenLop, KhoaHoc, MaKhoa, CoVanHocTap, MaGV )
	Values (@MaLop, @TenLop, @KhoaHoc, @MaKhoa, @CoVanHocTap, @MaGV);
End
GO
/****** Object:  StoredProcedure [dbo].[sp_Lop_Update]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Lop_Update]
	@MaLop varchar(10),
	@TenLop nvarchar(50),
	@KhoaHoc nvarchar(20),
	@MaKhoa varchar(10),
	@CoVanHocTap nvarchar(100),
	@MaGV varchar(20)
As
Begin
	--kiem tra lop co ton tai khong
	If not exists (Select 1 from Lop Where MaLop=@MaLop)
	begin
		print'Lớp không tồn tại';
		return;
	end

	Update Lop
	Set	TenLop=@TenLop,
		KhoaHoc=@KhoaHoc,
		MaKhoa=@MaKhoa,
		CoVanHocTap=@CoVanHocTap,
		MaGV=@MaGV
	Where MaLop=@MaLop;

	print'Cập nhật lớp thành công';
End
GO
/****** Object:  StoredProcedure [dbo].[sp_MonHoc_Delete]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MonHoc_Delete]
    @MaMon VARCHAR(10)
AS
BEGIN
    -- Kiểm tra môn học có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM MonHoc WHERE MaMon = @MaMon)
    BEGIN
        PRINT N'Môn học không tồn tại'
        RETURN
    END

    -- Xóa môn học
    DELETE FROM MonHoc
    WHERE MaMon = @MaMon

    PRINT N'Xóa môn học thành công'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MonHoc_Insert]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_MonHoc_Insert]
    @MaMon varchar(10),
    @TenMon nvarchar(100),
    @SoTinChi int,
    @MaKhoa varchar(10)
AS
BEGIN
    INSERT INTO MonHoc(MaMon, TenMon, SoTinChi, MaKhoa)
    VALUES (@MaMon, @TenMon, @SoTinChi, @MaKhoa);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MonHoc_Update]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_MonHoc_Update]
    @MaMon varchar(10),
    @TenMon nvarchar(100),
    @SoTinChi int,
    @MaKhoa varchar(10)
AS
BEGIN
    -- Kiểm tra môn học có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM MonHoc WHERE MaMon = @MaMon)
    BEGIN
        PRINT N'Không tồn tại mã môn';
        RETURN;
    END

    UPDATE MonHoc
    SET
        TenMon = @TenMon,
        SoTinChi = @SoTinChi,
        MaKhoa = @MaKhoa
    WHERE MaMon = @MaMon;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_ChuyenLop]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PDT_ChuyenLop]
    @MaSV varchar(10),
    @MaLopMoi varchar(10)
AS
BEGIN
    UPDATE SinhVien
    SET MaLop = @MaLopMoi
    WHERE MaSV = @MaSV;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_Lop_TheoKhoa]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_PDT_Lop_TheoKhoa]
    @KhoaHoc nvarchar(50)
AS
BEGIN
    SELECT * FROM Lop WHERE KhoaHoc = @KhoaHoc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_PhanCong_Select]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_PDT_PhanCong_Select]
AS
BEGIN
    SELECT 
        gv.TenGV,
        l.TenLop,
        mh.TenMon
    FROM PhanCongGiangDay pc
    JOIN GiangVien gv ON pc.MaGV = gv.MaGV
    JOIN Lop l ON pc.MaLop = l.MaLop
    JOIN MonHoc mh ON pc.MaMon = mh.MaMon;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_SinhVien_Select]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PDT_SinhVien_Select]
AS
BEGIN
    SELECT sv.MaSV, sv.HoTen, l.TenLop
    FROM SinhVien sv
    JOIN Lop l ON sv.MaLop = l.MaLop;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_ThemMonHoc]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP thêm môn học mới vào danh mục
CREATE   PROC [dbo].[sp_PDT_ThemMonHoc]
    @MaMon varchar(10),
    @TenMon nvarchar(100),
    @SoTinChi int,
    @MaKhoa varchar(10)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM MonHoc WHERE MaMon = @MaMon)
        RAISERROR (N'Mã môn học đã tồn tại!', 16, 1)
    ELSE
        INSERT INTO MonHoc VALUES (@MaMon, @TenMon, @SoTinChi, @MaKhoa)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_ThongKe_KetQua]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_PDT_ThongKe_KetQua]
AS
BEGIN
    SELECT
        l.TenLop,
        COUNT(CASE WHEN d.DiemTongKet >= 5 THEN 1 END) AS SoDat,
        COUNT(CASE WHEN d.DiemTongKet < 5 THEN 1 END) AS SoRot
    FROM Diem d
    JOIN Lop l ON d.MaLop = l.MaLop
    GROUP BY l.TenLop;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PDT_ThongKe_SiSo]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_PDT_ThongKe_SiSo]
AS
BEGIN
    SELECT 
        l.MaLop,
        l.TenLop,
        COUNT(sv.MaSV) AS SiSo
    FROM Lop l
    LEFT JOIN SinhVien sv ON l.MaLop = sv.MaLop
    GROUP BY l.MaLop, l.TenLop;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PhanCongGiangDay]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PhanCongGiangDay]
    @MaGV varchar(10),
    @MaLop varchar(10),
    @MaMon varchar(10)
AS
BEGIN
    INSERT INTO PhanCongGiangDay(MaGV, MaLop, MaMon)
    VALUES (@MaGV, @MaLop, @MaMon);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_Delete]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[sp_SinhVien_Delete]
	@MaSV varchar(10)
As
Begin
	Delete from SinhVien where MaSV =@MaSV;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_Insert]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[sp_SinhVien_Insert]
	@MaSV varchar(10),
	@HoTen nvarchar(100),
	@NgaySinh date,
	@GioiTinh nvarchar(10),
	@DiaChi nvarchar(200),
	@Email varchar(100),      -- Tham số 6
	@SoDienThoai varchar(15), -- Tham số 7
	@TrangThai nvarchar(10),
	@MaLop varchar(10)
As
Begin
	If Exists (Select 1 From SinhVien where MaSV=@MaSV)
	Begin
		Raiserror ('Mã sinh viên này đã tồn tại',16,1)
		Return 
	End

	
	INSERT INTO dbo.SinhVien (MaSV, HoTen, NgaySinh, GioiTinh, DiaChi, SoDienThoai, Email, TrangThai, MaLop)
	VALUES (@MaSV, @HoTen, @NgaySinh, @GioiTinh, @DiaChi, @SoDienThoai, @Email, @TrangThai, @MaLop)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_Select]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_SinhVien_Select]
As
Begin
	select * from SinhVien;
ENd
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_Update]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sua sinh vien
Create proc [dbo].[sp_SinhVien_Update]
	@MaSV varchar(10),
	@HoTen nvarchar(100),
	@NgaySinh date,
	@GioiTinh nvarchar(10),
	@DiaChi nvarchar(200),
	@Email varchar(100),
	@SoDienThoai varchar(15),
	@TrangThai nvarchar(10),
	@MaLop varchar(10)
As
Begin
	Update SinhVien
	Set HoTen = @HoTen,
		NgaySinh=@NgaySinh,
		GioiTinh=@GioiTinh,
		DiaChi=@DiaChi,
		Email=@Email,
		SoDienThoai=@SoDienThoai,
		TrangThai=@TrangThai,
		MaLop=@MaLop
  Where	MaSV=@MaSV;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_XemDiem]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SinhVien_XemDiem]
    @MaSV varchar(10)
AS
BEGIN
    SELECT *
    FROM vw_SinhVien_Diem
    WHERE MaSV = @MaSV;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeKetQua]    Script Date: 22/03/2026 10:28:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongKeKetQua]
AS
BEGIN
    SELECT
        MaSV,
        DiemTongKet,
        CASE
            WHEN DiemTongKet >= 5 THEN N'Đậu'
            ELSE N'Rớt'
        END AS KetQua
    FROM Diem
    WHERE DiemTongKet IS NOT NULL;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -120
         Left = 0
      End
      Begin Tables = 
         Begin Table = "pc"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "l"
            Begin Extent = 
               Top = 154
               Left = 48
               Bottom = 317
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "mh"
            Begin Extent = 
               Top = 322
               Left = 48
               Bottom = 485
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sv"
            Begin Extent = 
               Top = 490
               Left = 48
               Bottom = 653
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "dk"
            Begin Extent = 
               Top = 658
               Left = 48
               Bottom = 821
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
En' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_DanhSach_Lop_PhuTrach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'd
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_DanhSach_Lop_PhuTrach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_DanhSach_Lop_PhuTrach'
GO
USE [master]
GO
